<!DOCTYPE html>
<html>
  <head>
    <title>Maps</title>
    <meta charset="utf-8"/>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
	
	<link rel="stylesheet" href="assets/css/leaflet.css" />
	<link rel="stylesheet" href="assets/css/style.css" />
	
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/leaflet.js"></script>
    <script src="assets/js/html2canvas.min.js"></script>
</head>
<body>
	<div class="map"><div id="map"></div></div>
    <div id="images"></div>
    <div><button>Screen</button></div>
     
<script src="assets/js/index.js"></script>
</body>
</html>
