html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0
}

.map {
    display: inline-block;
    width: 400px;
    height: 600px;
    overflow: hidden;
}

#map { 
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#images {
    display: inline-block
}

.test {
    position: absolute;
    width: 100%;
    height: 200px;
    background: green;
}